---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4 serif-font">Sean Boerhout</h1>
      <br>
      <p class="lead mb-4">Hi! I'm Sean, a first year at MIT studying electrical and mechanical engineering.</p>
    </div>
      <div class="col-md-6 text-center pl-0 pl-lg-4d face-on-cover" style="text-align: center;">
        <img class="intro" height="500" src="{{site.baseurl}}/assets/images/blue_blob2.svg">      
        <img class="face-image" src="{{site.baseurl}}/assets/images/face.png">
      </div>
  </div>
</div>

<!-- Featured
================================================== -->
<h4><i>Featured:</i></h4>
<br>
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>
<hr>

{% endif %}


<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <!-- <div class="col-sm-8"> -->
    <!-- <div class="row"> -->

      {% for post in paginator.posts %}

      {% unless post.featured == true %}
      <div class="col-md-4 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    <!-- </div> -->
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  <!-- </div> -->
  <!-- <div class="col-sm-4">
    {% include sidebar.html %}
  </div> -->

</section>
