<!-- begin post -->
{% assign author = site.authors[post.author] %}
{% assign words_per_minute = site.words_per_minute | default:200 %}
{% assign words = post.content | strip_html | number_of_words %}

<div class="card">
    <a href="{{ post.url | absolute_url }}">
        {% if post.image %} <img class="rounded mb-4" src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}"> {% endif %}
    </a>
    <div class="card-block">
        <h2 class="card-title h4 serif-font"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
        <p class="card-text text-muted">{{ post.excerpt | strip_html | truncatewords:15 }}</p>
        <div class="metafooter">
            <div class="wrapfooter small d-flex align-items-center">
                <span class="post-date">{{ post.date | date_to_string }}</span>
                &nbsp; &#x2022; &nbsp;

                <span class="reading-time">
                  {% if words <= words_per_minute %}
                    1 min read
                  {% else %}
                    {{ words | divided_by:words_per_minute }} min read
                  {% endif %}
                </span>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->